{% extends "base.html.twig" %}

{% block title %}Opleidingen{% endblock %}

{% block body %}

    <div class="content container">
    <h2>Aangeboden Opleidingen</h2>
        <div class="row">            
            <div class="col l6 m6 s12 inleiding">

                <p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei
                    corpora senserit. An simul option per. Cu ius mollis vocent
                    verterem, natum atqui constituto ad sit. Quo id quod labores
                    placerat, per cu persius tibique. Graece quidam copiosae cum
                    cu,
                    mei scribentur philosophia ad. Eu minim nemore usu, invenire
                    dissentias ius cu, quot erat atomorum id pri. Vis te posse
                    quodsi maiestatis. Eum simul elitr cu. Pro no partem
                    explicari.</p>
            </div>
            <div class="col l6 m6 s12 inleiding">
                <div class="collection right">
                    <a class="collection-item" href="https://www.vdab.be/mijnvdab/opleidingen/opleidingen.jsp?action=ZOEKOPLEIDINGEN&eventopleidingInhoud=resultatenPage_resultatenLijst_0_naam&sess=21&index=0&id=49512"
                       target="_blank">Zaalmedewerker</a>
                    <a class="collection-item" href="https://www.vdab.be/mijnvdab/opleidingen/opleidingen.jsp?action=ZOEKOPLEIDINGEN&eventopleidingInhoud=resultatenPage_resultatenLijst_1_naam&sess=12&index=1&id=12932"
                       target="_blank">Hulpkelner</a>
                    <a class="collection-item" href="https://www.vdab.be/mijnvdab/opleidingen/opleidingen.jsp?action=ZOEKOPLEIDINGEN&eventopleidingInhoud=resultatenPage_resultatenLijst_2_naam&sess=12&index=2&id=67121"
                       target="_blank">Professionele zaaltechnieken</a>
                    <a class="collection-item" href="https://www.vdab.be/mijnvdab/opleidingen/opleidingen.jsp?action=ZOEKOPLEIDINGEN&eventopleidingInhoud=resultatenPage_resultatenLijst_3_naam&sess=12&index=3&id=31947"
                       target="_blank">Keukenmedewerker</a>
                    <a class="collection-item" href="https://www.vdab.be/mijnvdab/opleidingen/opleidingen.jsp?context=MAIL&entryPoint=OpleidingInhoud&opleidingid=12931&doelgroep=2"
                       target="_blank">Hulpkok</a>
                </div>
            </div>
        </div>








    <h3>Beroepenfilms horeca</h3>
        <div class="row">
            <div class="col s12 m4">
                <div class="card z-depth-0">
                    <div class="card-image">
                        <img src="{{ asset('images/beroepen/hotelreceptionist.jpg') }}">
                        <span class="card-title">Hotelreceptionist</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://www.vdab.be/beroepen/hotelreceptionist.shtml"
                           target="_blank">Hotelreceptionist</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card z-depth-0">
                    <div class="card-image">
                        <img src="{{ asset('images/beroepen/hulpkelner.jpg') }}">
                        <span class="card-title">Hulpkelner Restaurant</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://www.vdab.be/beroepen/hulpkelner.shtml"
                           target="_blank">Hulpkelner Restaurant</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card z-depth-0">
                    <div class="card-image">
                        <img src="{{ asset('images/beroepen/kelner.jpg') }}">
                        <span class="card-title">Kelner brasserie - taverne</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://www.vdab.be/beroepen/kelner.shtml"
                           target="_blank">Kelner brasserie - taverne</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4">
                <div class="card z-depth-0">
                    <div class="card-image">
                        <img src="{{ asset('images/beroepen/kok.jpg') }}">
                        <span class="card-title">Kok</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://www.vdab.be/beroepen/kok.shtml"
                           target="_blank">Kok</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card z-depth-0">
                    <div class="card-image">
                        <img src="{{ asset('images/beroepen/maitre.jpg') }}">
                        <span class="card-title">Ma&icirc;tre d'h&ocirc;tel</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://www.vdab.be/beroepen/maitre.shtml"
                           target="_blank">Ma&icirc;tre d'h&ocirc;tel</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card z-depth-0">
                    <div class="card-image">
                        <img src="{{ asset('images/beroepen/medewerker_keuken.jpg') }}">
                        <span class="card-title">Medewerker keuken</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://www.vdab.be/beroepen/medewerker_keuken.shtml"
                           target="_blank">Medewerker keuken</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4">
                <div class="card z-depth-0">
                    <div class="card-image">
                        <img src="{{ asset('images/beroepen/medewerker_snelrestauratie.jpg') }}">
                        <span class="card-title">Medewerker sneldienst-restauratie-fastfood</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://www.vdab.be/beroepen/medewerker_snelrestauratie.shtml"
                           target="_blank">Medewerker sneldienst-restauratie-fastfood</a>
                    </div>
                </div>
            </div>


        </div>

        <div class="row video">
            <div class="col s12 m12 l12">
                <h3>Infosessies</h3>
                Bekijk hier een <a
                href="https://www.vdab.be/beroepen/medewerker_snelrestauratie.shtml"
                target="_blank">infosessie Keukenmedewerker</a>

                <div class="video-container">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/J0ZdA3SCIYw" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}