{% extends 'admin/admin.html.twig' %}

{% block title %}Menugangen wijzigen{% endblock %}

{% block body %}


    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s6 offset-s3">
                    <h2 class="center-align">Wijzig de menugang</h2>

                    {{ form_start(edit_form) }}

                    {{ form_label(edit_form.name, 'Naam') }}
                    {{ form_errors(edit_form.name) }}
                    {{ form_widget(edit_form.name) }}

                    <div class="center-align">
                        <div class= "button">
                        <a class="waves-effect waves-light blue-grey darken-3 white-text btn"
                           href="{{ path('menutype_index') }}">Terug</a>
                        </div>
                        <div class= "button">
                        <input class="waves-effect waves-light blue-grey darken-3 white-text btn"
                               type="submit" value="Wijzig"/>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="center-align">
                        {{ form_start(delete_form) }}
                        <input class="waves-effect waves-light red darken-2 white-text btn"
                               type="submit" value="Verwijder">
                        {{ form_end(delete_form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
