{% extends "base.html.twig" %}

{% block stylesheets %}
	<link href="{{ asset('js/lightslider-master/src/css/lightslider.css') }}" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/lightslider-master/src/js/lightslider.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% endblock %}
{% block body %}

	<div class="container">
		<div class="row">
			<div class="col s12 m10 l8 offset-l2">
				<ul class="bxslider">
					<li><img src="{{ asset('images/slider/test2.jpeg') }}"></li>
					<li><img src="{{ asset('images/slider/test3.jpeg') }}"></li>
					<li><img src="{{ asset('images/slider/vdab_banner/banner.jpg') }}"></li>
					<li><img src="{{ asset('images/nieuws/nieuws2.jpg') }}"></li>
					<li><img src="{{ asset('images/nieuws/nieuws3.jpg') }}"></li>
				</ul>
			</div>
		</div>
		<div id="wie-we-zijn">
			<h2>Welkom!</h2>
			<div class="row">
				<div class="col s12 m12 l12">				
					<p>Welkom op de pagina van het didactisch restaurant 't Seizoen.</p>
					<p>op deze website vindt u allerhande informatie over het horeca-opleidingscentrum en kan u online reservaties maken om te komen eten in het restuarant.</p>
					<p>We geven u alvast graag dat we elke reservatie afzonderlijk moeten bekijken. Het is namelijk zo dat het aantal gasten en de beschikbare menuformules afhankelijk zijn van de bezettingsgraad en het niveau van de cursisten. omdat we een didactisch restaurant zijn, heeft het opleidingsaspect voorrang op de bezetting van het restaurant door gasten.</p>
					<p>U zal merken dat we zeer voordelige formules kunnen aanbieden. U kan er van op aan dat u lekker kan eten in een aangename sfeer.</p>
					<p>Onze gasten zijn personeelsleden van VDAB of worden uitgenodigd door personeelsleden van VDAB.</p>
					<p>Hopelijk tot binnenkort!</p>
				</div>
			</div>
		</div>

		<!--<div id="nieuws">
			<h2>Nieuws en evenementen</h2>
			<div class="row">		
				<div class="col s12 m4 l4">
	                <div class="card z-depth-0">	                	
	                    <div class="card-image">
	                        <img src="{{ asset('images/nieuws/nieuws1.jpg') }}">
	                    </div>
	                    <div class="card-content">
	                    	<h4>Nieuwe website!</h4>
	                        <p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit.</p>
	                    </div>
	                    <div class="card-action">
	                        <a href="#">Verder lezen</a>
	                    </div>
	                </div>
	            </div>
	            <div class="col s12 m4 l4">
	                <div class="card z-depth-0">
	                    <div class="card-image">
	                        <img src="{{ asset('images/nieuws/nieuws2.jpg') }}">
	                    </div>
	                    <div class="card-content">
	                    	<h4>Nieuwe website!</h4>
	                        <p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit.</p>
	                    </div>
	                    <div class="card-action">
	                        <a href="#">Verder lezen</a>
	                    </div>
	                </div>
	            </div>
	            <div class="col s12 m4 l4">
	                <div class="card z-depth-0">
	                    <div class="card-image">
	                        <img src="{{ asset('images/nieuws/nieuws3.jpg') }}">
	                    </div>
	                    <div class="card-content">
	                    	<h4>Nieuwe website!</h4>
	                        <p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit.</p>
	                    </div>
	                    <div class="card-action link">
	                        <a href="#">Verder lezen</a>
	                    </div>
	                </div>
	            </div>
			</div>
		</div>-->
	</div>


{% endblock %}


