{% extends "base.html.twig" %}

{% block stylesheets %}
	<link href="{{ asset('js/bxslider/jquery.bxslider.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col s12 m12 l8 offset-l2">
				<ul class="bxslider">
					<li><img src="{{ asset('images/slider/koekjes.jpg') }}"></li>
					<li><img src="{{ asset('images/slider/t_seizoen_VDAB_Antw-5.jpg') }}"></li>
					<li><img src="{{ asset('images/slider/vdab_banner/banner.jpg') }}"></li>
					<li><img src="{{ asset('images/slider/t_seizoen_VDAB_Antw-6.jpg') }}"></li>
					<li><img src="{{ asset('images/slider/t_seizoen_VDAB_Antw-18.jpg') }}"></li>
					<li><img src="{{ asset('images/slider/t_seizoen_VDAB_Antw-16.jpg') }}"></li>
				</ul>
			</div>
		</div>
		<div id="wie-we-zijn">
		<h2>Welkom bij ‘t Seizoen!</h2>
			<div class="row">
				<div class="col s12 m12 l12">
					<p>Het didactisch restaurant van het Horeca-opleidingscentrum van VDAB Antwerpen.</p> 
					<p>Elke dag worden er in 't Seizoen gerechten klaargemaakt en geserveerd door onze keuken- en zaalcursisten. We kunnen hierdoor zeer voordelige formules aanbieden. Je kan elke middag terecht voor een lekkere lunch in een aangename sfeer. We verzorgen eveneens recepties en buffetten.</p> 
					<p>Op onze website kan je online reserveren en je vindt er informatie over onze verschillende opleidingen. Let op! Je reservatie is pas definitief nadat we deze bevestigd hebben. Het is namelijk zo dat de menu’s en boekingen altijd afgestemd zijn op het leerproces en de vorderingen van onze cursisten.</p>
					<p>Het restaurant staat open voor alle personeelsleden van de VDAB en voor hun genodigden.</p> 
					<p>Krijg de smaak te pakken!</p>
					<p>Hopelijk tot binnenkort.</p>
					<p>Team Horeca</p>
				</div>
			</div>
		</div>

		<!--<div id="nieuws">
			<h2>Nieuws en evenementen</h2>
			<div class="row">		
				<div class="col s12 m4 l4">
	                <div class="card z-depth-0">	                	
	                    <div class="card-image">
	                        <img src="{{ asset('images/nieuws/nieuws1.jpg') }}">
	                    </div>
	                    <div class="card-content">
	                    	<h4>Nieuwe website!</h4>
	                        <p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit.</p>
	                    </div>
	                    <div class="card-action">
	                        <a href="#">Verder lezen</a>
	                    </div>
	                </div>
	            </div>
	            <div class="col s12 m4 l4">
	                <div class="card z-depth-0">
	                    <div class="card-image">
	                        <img src="{{ asset('images/nieuws/nieuws2.jpg') }}">
	                    </div>
	                    <div class="card-content">
	                    	<h4>Nieuwe website!</h4>
	                        <p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit.</p>
	                    </div>
	                    <div class="card-action">
	                        <a href="#">Verder lezen</a>
	                    </div>
	                </div>
	            </div>
	            <div class="col s12 m4 l4">
	                <div class="card z-depth-0">
	                    <div class="card-image">
	                        <img src="{{ asset('images/nieuws/nieuws3.jpg') }}">
	                    </div>
	                    <div class="card-content">
	                    	<h4>Nieuwe website!</h4>
	                        <p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit.</p>
	                    </div>
	                    <div class="card-action link">
	                        <a href="#">Verder lezen</a>
	                    </div>
	                </div>
	            </div>
			</div>
		</div>-->
	</div>


{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/bxslider/jquery.bxslider.min.js') }}"></script>

	<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>

	<script type="text/javascript">
		$('.bxslider').bxSlider({
            mode: 'fade',
            pause: 6000,
            speed: 2000,
            auto: true,
            useCSS: false,
            controls: false,
            startSlide: 2,
            adaptiveHeight: true,          
        });
	</script>
{% endblock %}

