{% extends 'admin/admin.html.twig' %}

{% block body %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s4 offset-s4">
                <h2 class="center-align">Maak een nieuwe reservering</h2>
    
                {{ form_start(form) }}
                {{ form_widget(form) }}

                {% for menutype in menutypes %}

                        <label for="reservatie_{{ menutype.name }}">{{ menutype.name }}</label>
                        <select id="reservatie_{{ menutype.name }}" name="reservatie[{{ menutype.name }}]" class="browser-default">
                            <option value="" disabled selected>--- kies een {{ menutype.name }} ---</option>
                            {% for menuformule in menuformules %}
                                {% if menutype.id == menuformule.menuType.id %}
                                    <option value="{{ menuformule.id }}">{{ menuformule.name }} - {{ menuformule.info }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                {% endfor %}



                <div class="center-align">
                    <a class="waves-effect waves-light blue-grey darken-3 white-text btn"
                       href="{{ path('reservatie_overzicht') }}">Terug</a>
                    <input class="waves-effect waves-light blue-grey darken-3 white-text btn"
                           type="submit" value="Aanmaken"/>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
