{% extends 'admin/admin.html.twig' %}

{% block title %}Alle Menugangen{% endblock %}

{% block body %}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s6 offset-s3">
            <h2 class="center-align">Overzicht reserveringen</h2>
            <div class="center-align">
                <a class="waves-effect waves-light blue-grey darken-3 white-text btn"
                   href="{{ path('reservatie_new') }}">Maak een nieuwe
                    reservering aan</a>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="collapsible-header">
                    <div class="col s3">Datum en uur</div>
                    <div class="col s1">personen</div>
                    <div class="col s6">Naam</div>
                    <div class="col s2"></div>
                </div>

                <ul class="collapsible blue-grey lighten-5" data-collapsible="expandable">
                    {% for reservatie in reservaties %}
                        <li>
                            <div class="collapsible-header blue-grey lighten-4">
                                <div class="col s3">{{ reservatie.datum|date("d/m/Y") }} {{ reservatie.aanvang|date("H:i") }} - {{ reservatie.einde|date("H:i") }}</div>
                                <div class="col s1">{{ reservatie.aantalDeelnemers }}</div>
                                <div class="col s6">{{ reservatie.naam }}</div>
                                <div class="col s1"><a href="{{ path('reservatie_edit', { 'id': reservatie.id }) }}"><i class="material-icons blue-text darken-3">mode_edit</i></a></div>
                                <div class="col s1"><i class="material-icons red-text darken-4">clear</i></div>
                            </div>
                            <div class="collapsible-body">

                                {% for menuFormule in reservatie.reservatieRegels %}

                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s2">{{ menuFormule.name }}</div>
                                            <div class="col s1">&euro; {{ menuFormule.price }}</div>
                                            <div class="col s9">{{ menuFormule.info }}</div>
                                        </div>
                                    </div>

                                {% endfor %}
                                <div class="blue-grey lighten-5">
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s2 offset-s1">Afdeling</div>
                                            <div class="col s2">Product</div>
                                            <div class="col s2">Project</div>
                                            <div class="col s2">Rekening</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s2 offset-s1">{{ reservatie.afdeling }}</div>
                                            <div class="col s2">{{ reservatie.product }}</div>
                                            <div class="col s2">{{ reservatie.project }}</div>
                                            <div class="col s2">{{ reservatie.rekening }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}