{% extends "base.html.twig" %}

{% block title %}Reservatie{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/themes/default.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/themes/default.date.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/themes/default.time.css">
{% endblock %}
{% block body %}

    <div class="section">
        <div class="row center-align" id="reservatie-info">
            <div class="col s12 m12 l12">
                <p>Het restaurant staat open voor alle personeelsleden van de VDAB en voor hun genodigden.</p>
                <p>Let op! Je reservatie is pas definitief nadat we deze bevestigd hebben. Het is namelijk zo dat de menu’s en boekingen altijd afgestemd zijn op het leerproces en de vorderingen van onze cursisten.</p>
            </div>
        </div>
    </div>
    <div class="container">
        {{ form_start(form) }}
        <h3>Datum + personen</h3>
        <section class="datum-pers">
            {{ form_row(form.datum) }}
            {{form_row(form.aanvang)}}
            {{form_row(form.aantalDeelnemers)}}
        </section>
        <h3>Formules</h3>
        <section>
            {% for type in types %}
                <h4>{{type.name}}</h4>
                <select class="types browser-default" name="{{type.name}}">
                    <option value="" disabled selected>- selecteer een formule -</option>
                    {%for formule in formules%}
                        {% if formule.menutypeId == type.id %}
                            <option value="{{formule.name}}" data-minpers="{{formule.minPersons}}" data-maxpers="{{formule.maxPersons}}">{{formule.name}} ({{formule.info}})</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endfor %}
        </section>
        <h3>Gegevens</h3>
        <section>
            {{form_row(form.naam)}}
            {{form_row(form.opdrachtgever)}}
            {{form_row(form.commentaar)}}
        </section>
        <h3>Betaling</h3>
        <section class="betaling">
            <input name="betalen" id="cash" class="radio" type="radio" value="cash" checked><label for="cash">Ter plaatse betalen</label>
            <input name="betalen" id="budget" class="radio" type="radio" value="budget"><label for="budget">Op budget betalen</label>
            {{form_row(form.rekening)}}
            {{form_row(form.afdeling)}}
            {{form_row(form.product)}}
            {{form_row(form.project)}}
        </section>
        {{ form_end (form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquerysteps/jquery.steps.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jqueryvalidation/dist/jquery.validate.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.date.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.time.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/legacy.js"></script>
    <script>
        var reservatieForm = $("[name*='reservatie']");

        reservatieForm.steps({
            /* Labels */
            labels: {
                current: "",
                finish: "Bevestig",
                next: "Volgende",
                previous: "Vorige",
            },
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex)
            {
                /*if (newIndex == 1) {
                 console.log(newIndex);
                 aantalDeelnemers = $("#reservatie_aantalDeelnemers").val();
                 formules = $("option");
                 formules.each(function (i) {
                 if (formules[i].dataset.minpers) {
                 $(formules[i]).css("background-color", "white");
                 if (formules[i].dataset.minpers > aantalDeelnemers) {
                 console.log(aantalDeelnemers + " personen is te weinig (min " + formules[i].dataset.minpers + ")");
                 $(formules[i]).css("background-color", "blue");
                 }
                 } else if (formules[i].dataset.maxpers) {
                 $(formules[i]).css("background-color", "white");
                 if (formules[i].dataset.maxpers < aantalDeelnemers) {
                 console.log(aantalDeelnemers + " personen is te veel (max " + formules[i].dataset.maxpers + ")");
                 $(formules[i]).css("background-color", "red");
                 }
                 } else {
                 console.log("ok");
                 $(formules[i]).css("background-color", "white");
                 }
                 });
                 
                 }*/
                // Allways allow step back to the previous step even if the current step is not valid!
                if (currentIndex > newIndex)
                {
                    return true;
                }
                // Clean up if user went backward before
                if (currentIndex < newIndex)
                {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", reservatieForm).remove();
                    $(".body:eq(" + newIndex + ") .error", reservatieForm).removeClass("error");
                }
                reservatieForm.validate().settings.ignore = ":disabled,:hidden";
                return reservatieForm.valid();
            },
            onFinishing: function (event, currentIndex)
            {
                reservatieForm.validate().settings.ignore = ":disabled";
                return reservatieForm.valid();
            },
            onFinished: function (event, currentIndex)
            {
                var data = reservatieForm.serializeArray();
                $.ajax({
                    url: "{{ path('reservatieajax') }}",
                    data: data
                }).done(function (json) {
                    console.log(json);
                }).error(function () {
                    console.log("ajax error");
                });
                reservatieForm.submit();
            }
        });
        $('.datepicker').pickadate({
            monthsFull: ['Januari', 'Februari', 'Maart', 'April', 'Mei', 'Juni', 'Juli', 'Augustus', 'September', 'Oktober', 'November', 'December'],
            weekdaysFull: ['zondag', 'maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag'],
            weekdaysShort: ['zo', 'ma', 'di', 'wo', 'do', 'vr', 'za'],
            today: 'vandaag',
            clear: 'wissen',
            close: 'sluit',
        });
        reservatieForm.validate({
            errorPlacement: function errorPlacement(error, element) {
                element.before(error);
            },
            rules: {
                "reservatie[datum]": {
                    required: true,
                    date: true
                },
                "reservatie[aantalDeelnemers]": {
                    required: true
                },
                Hoofdgerecht: {
                    required: true
                },
                "reservatie[rekening]": {
                    required: true,
                    number: true
                }
            },
            messages: {
                "reservatie[datum]": {
                    required: "Selecteer een datum",
                    date: "Dit is geen geldige datum"
                },
                "reservatie[aantalDeelnemers]": {
                    required: "Voer het aantal personen in"
                },
                Hoofdgerecht: {
                    required: "Selecteer minstens één hoofdgerecht"
                },
                "reservatie[rekening]": {
                    required: "Vul een rekeningnummer in",
                    number: "Geen geldig rekeningnummer"
                }
            }
        });

        $('.datepicker').pickadate({
            monthsFull: ['Januari', 'Februari', 'Maart', 'April', 'Mei', 'Juni', 'Juli', 'Augustus', 'September', 'Oktober', 'November', 'December'],
            weekdaysFull: ['zondag', 'maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag'],
            weekdaysShort: ['zo', 'ma', 'di', 'wo', 'do', 'vr', 'za'],
            today: 'vandaag',
            clear: 'wissen',
            close: 'sluit',
            format: 'd mmmm yyyy',
            formatSubmit: 'yyyy-mm-dd'
        });

        $(".radio").change(changeCheck);
        changeCheck();
        function changeCheck() {
            var betalen = $(".radio:checked").val();
            if (betalen == "cash") {
                $(".betaling div").css("display", "none").find("input").prop("disabled", true);
            } else {
                $(".betaling div").css("display", "block").find("input").prop("disabled", false);
            }
        }
    </script>
{% endblock %}
