{% extends "base.html.twig" %}

{% block title %}Reservatie{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/themes/default.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/themes/default.date.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/themes/default.time.css">
{% endblock %}
{% block body %}

    <div class="section">
        <div class="row center-align" id="reservatie-info">
            <div class="col s12 m8 l6 offset-l3">
                <p class="FW400">Het restaurant staat open voor alle personeelsleden van de VDAB en voor hun genodigden.</p>
                <p><span class="bold">Let op!</span> Je reservatie is pas definitief nadat we deze bevestigd hebben. Het is namelijk zo dat de menu’s en boekingen altijd afgestemd zijn op het leerproces en de vorderingen van onze cursisten.</p>
            </div>
        </div>
    </div>
    <div class="container">
        {{ form_start(form) }}
        <h3>Datum + personen</h3>
        <section class="datum-pers">
            {{ form_row(form.datum) }}
            {{form_row(form.aanvang)}}
            {{form_row(form.aantalDeelnemers)}}
        </section>
        <h3>Formules</h3>
        <section>
            {% for type in types %}
                <label for="{{ type.name }}">{{ type.name }}</label>
                <select class="types browser-default" name="reservatie[{{type.name}}]">
                    <option value="" disabled selected>- selecteer een formule -</option>
                    {%for formule in formules%}
                        {% if formule.menutypeId == type.id %}
                            <option value="{{formule.id}}" data-minpers="{{formule.minPersons}}" data-maxpers="{{formule.maxPersons}}">{{formule.name}} ({{formule.info}})</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endfor %}
        </section>
        <h3>Gegevens</h3>
        <section>
            {{form_row(form.naam)}}
            {{form_row(form.email)}}
            {{form_row(form.telefoon)}}
            {{form_row(form.opdrachtgever)}}
            {{form_row(form.emailopdrachtgever)}}
            {{form_row(form.commentaar)}}
        </section>
        <h3>Betaling</h3>
        <section class="betaling">
            <input name="betalen" id="cash" class="radio" type="radio" value="cash" checked><label for="cash">Ter plaatse betalen</label>
            <input name="betalen" id="budget" class="radio" type="radio" value="budget"><label for="budget">Op budget betalen</label>
            {{form_row(form.rekening)}}
            {{form_row(form.afdeling)}}
            {{form_row(form.product)}}
            {{form_row(form.project)}}
        </section>
        {{ form_end (form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquerysteps/jquery.steps.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jqueryvalidation/dist/jquery.validate.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.date.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.time.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/legacy.js"></script>
{% endblock %}
