<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!-- Compiled and minified CSS for Materialize -->
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}"/>

</head>
<body>

    <!-- Header op elke pagina -->
    <div class="main">
    <header>
        {% if user %}
            <div class="nav-admin container">
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="black-text" href="{{ path('admin') }}">Admin home</a>
                    </li>
                    <li>
                        <p>|</p>
                    </li>
                    <li>
                        <a class="black-text" href="{{ path('logout') }}">Uitloggen</a>
                    </li>
                </ul>                
            </div>
        {% endif %}
        <div id="headertop" class="container clearfix">
            <p class="right">
                <!--<img src="{{ asset('images/header/vdab_logo_klein.png') }}">-->
                <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons hamburger right">menu</i></a>
            </p>
        </div>
        <nav class="z-depth-0">
            <div class="nav-wrapper container">
                <a href='{{ path('index') }}' class='brand-logo'>
                    <img src="{{ asset('images/header/small_logo_seizoen_boom.png') }}">
                </a>
                
                <ul class='right hide-on-med-and-down'>
                    <li>
                        <a href='{{ path('index') }}'>Home</a>
                    </li>
                    <li>
                        <a href='{{ path('menu') }}'>Menukaart</a>
                    </li>
                    <li>
                        <a href='{{ path('opleidingen') }}'>Opleidingen</a>
                    </li>
                    
                    <li>
                        <a href='{{ path('contact') }}'>Contact</a>
                    </li>
                    <li class="">
                        <a class="licht-blauw white-text reserveerknop" href='{{ path('reservatie') }}'>Reserveer</a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile">
                    {% if user %}                    
                        <li class="admin-mobile-nav">
                            <a class="black-text" href="{{ path('admin') }}">Admin home</a>
                        </li>     
                        <li class="admin-mobile-nav">
                            <a class="black-text" href="{{ path('logout') }}">Uitloggen</a>
                        </li>
                    <hr>
                    {% endif %}

                    <li>
                        <a href='{{ path('index') }}'>Home</a>
                    </li>
                    <li>
                        <a href='{{ path('menu') }}'>Menu</a>
                    </li>
                    <li>
                        <a href='{{ path('nieuws') }}'>Nieuws</a>
                    </li>
                    <li>
                        <a href='{{ path('opleidingen') }}'>Opleidingen</a>
                    </li>
                    <li>
                        <a href='{{ path('team') }}'>Team</a>
                    </li>
                    <li>
                        <a href='{{ path('contact') }}'>Contact</a>
                    </li>
                    <li>
                        <a class="licht-blauw white-text reserveerknop" href='{{ path('reservatie') }}'>Reserveer</a>
                    </li>                
                </ul>

            </div>
        </nav>
    </header>
{% block body %}{% endblock %}


<!-- Footer op elke pagina -->

<footer class="donker-blauw">

    <div class="container">

        <div class="row" id="top">
            <div class="col s12 m4 l3 center-align" id="first">
                <ul>
                    <li>
                        <a class=" white-text" href='{{ path('index') }}'>Home</a>
                    </li>
                    <li>
                        <a class=" white-text" href='{{ path('menu') }}'>Menu</a>
                    </li>                    
                    <li>
                        <a class=" white-text" href='{{ path('opleidingen') }}'>Opleidingen</a>
                    </li>
                    <li>
                        <a class=" white-text" href='{{ path('contact') }}'>Contact</a>
                    </li>
                    <li>
                        <a class="white-text" href='{{ path('reservatie') }}'>Reserveer</a>
                    </li>
                </ul>

            </div>

            <div class="col s12 m4 l6 center-align" id="second">
                <ul id="uren-list">
                    {% for openingsuur in openingsuren %}
                        <li class="white-text">
                            {{ openingsuur.dag }}
                            {% if openingsuur.van and openingsuur.van|date('H:i') > '00:00'|date('H:i') %}
                                open van {{ openingsuur.van|date('H:i') }} tot {{ openingsuur.tot|date('H:i') }}.
                            {% else %}
                                gesloten.
                            {% endif %}
                        {% endfor %}
                    <li class="white-text">Op zon- en feestdagen gesloten.</li>
                </ul>
            </div>
            <div class="col s12 m4 l3 center-align" id="third">
                <a href='https://vdab.be' class='brand-logo'><img
                            src='{{ asset('images/footer/vdab_wit.png') }}' class="footer_logo responsive-img"></a>
            </div>
        </div>
    </div>
        <div class="beige footer-copyright">
            <div class="container center-align">
                <p>© 2016 Copyright VDAB PHP-developers</p>
            </div>
        </div>
</footer>
</div>




<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.2.min.js"></script>
<!-- Compiled and minified JavaScript for Materialize -->
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
{% block javascripts %}{% endblock %}
<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
</body>
</html>
