{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s8 offset-s2">
                    <h2 class="center-align">Wijzig de menuformule</h2>

                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <div class="center-align">
                        <a class="waves-effect waves-light blue-grey darken-3 white-text btn"
                           href="{{ path('formules_index') }}">Terug</a>
                        <input class="waves-effect waves-light blue-grey darken-3 white-text btn"
                               type="submit" value="Wijzig"/>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="center-align">
                        {{ form_start(delete_form) }}
                        <input class="waves-effect waves-light red darken-2 white-text btn"
                               type="submit" value="Verwijder">
                        {{ form_end(delete_form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
