{% extends 'admin/admin.html.twig' %}

{% block title %}Alle Menuformules{% endblock %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <h2 class="center-align">Alle menuformules</h2>
                    <div class="center-align">
                        <a class="waves-effect waves-light blue-grey darken-3 white-text btn"
                           href="{{ path('formules_new') }}">Maak een nieuwe
                            menuformule aan</a>
                    </div>
                    <table>
                        <thead>
                        <tr>

                            <th>Formule</th>
                            <th>Info</th>
                            <th>Prijs</th>
                            <th>Minimum aantal</th>
                            <th class="center-align">Wijzig</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for menuFormule in menuFormules %}
                            <tr>

                                <td>{{ menuFormule.name }}</td>
                                <td>{{ menuFormule.info }}</td>
                                <td>{{ menuFormule.price }}</td>
                                <td>{{ menuFormule.minPersons }}</td>

                                <td class="center-align">
                                    <a class="waves-effect waves-light blue-grey darken-3 white-text btn"
                                       href="{{ path('formules_edit', { 'id': menuFormule.id }) }}">Wijzig</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
