{% extends 'admin/admin.html.twig' %}

{% block title %}Menuformule {{ menuFormule.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <h2 class="center-align">De menuformule {{ menuFormule.name }}</h2>

                    <table>
                        <thead>
                        <tr>
                            <th data-field="name">Menugang</th>
                            <th data-field="name">Formule</th>
                            <th data-field="info">Info</th>
                            <th data-field="van">Prijs</th>
                            <th data-field="tot">Min aantal personen</th>
                            <th data-field="tot">Max aantal personen</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ menuFormule.menuType }}</td>
                            <td>{{ menuFormule.name }}</td>
                            <td style="max-width: 300px">{{ menuFormule.info }}</td>
                            <td>{{ menuFormule.price }}</td>
                            <td>{{ menuFormule.minPersons }}</td>
                            <td>{{ menuFormule.maxPersons }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="center-align">
                        <a class="waves-effect waves-light blue-grey darken-3 white-text btn"
                           href="{{ path('formules_index') }}">Terug</a>
                        <a class="waves-effect waves-light blue-grey darken-3 white-text btn"
                           href="{{ path('formules_edit', { 'id': menuFormule.id }) }}">Wijzig</a>
                    </div>

                    {#
                    <div class="row">
                        <div class="col s12">
                            <div class="center-align">
                                {{ form_start(delete_form) }}
                                <input class="waves-effect waves-light blue-grey darken-3 white-text btn"
                                       type="submit" value="Verwijder">
                                {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                    #}


                </div>
            </div>
        </div>
    </div>
{% endblock %}
