{% extends 'base.html.twig' %}

{% block body %}
    <h1>MenuFormules</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menuFormule.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ menuFormule.name }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ menuFormule.info }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ menuFormule.price }}</td>
            </tr>
            <tr>
                <th>Minpersons</th>
                <td>{{ menuFormule.minPersons }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="waves-effect waves-light btn" href="{{ path('formules_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('formules_edit', { 'id': menuFormule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
