{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s6 offset-s3">
                    <h2 class="center-align">Openingsuren
                        op {{ openingsuur.dag }}</h2>


                    <table>
                        <thead>
                            <tr>
                                <th data-field="id">Id</th>
                                <th data-field="dag">Dag</th>
                                <th data-field="van">Van</th>
                                <th data-field="tot">Tot</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ openingsuur.id }}</td>
                                <td>{{ openingsuur.dag }}</td>
                                <td>{% if openingsuur.van %}{{ openingsuur.van|date('H:i') }}{% endif %}</td>
                                <td>{% if openingsuur.tot %}{{ openingsuur.tot|date('H:i') }}{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col s4 offset-s3">
                    <a class="waves-effect waves-light blue-grey darken-3 white-text btn"
                       href="{{ path('uren_index') }}">Terug</a>
                </div>
                <div class="col s3">
                    <a class="waves-effect waves-light blue-grey darken-3 white-text btn"
                       href="{{ path('uren_edit', { 'id': openingsuur.id }) }}">Wijzig</a>

                    {#
                    <li>
                        {{ form_start(delete_form) }}
                            <input type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </li>
                    #}

                    {#
                                        <div class="input-field col s12">
                                            <select>
                                                <option value="" disabled selected>Choose your option</option>
                                                <option value="1">Option 1</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                            </select>
                                            <label>Materialize Select</label>
                                        </div>
                    #}
                </div>
            </div>
        </div>
    </div>
    {#
    {% block javascripts %}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>

    {% endblock %}
#}
{% endblock %}
