{% extends 'base.html.twig' %}

{% block body %}
    <h1>ReservatieRegels</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservatieRegel.id }}</td>
            </tr>
            <tr>
                <th>Reservatieid</th>
                <td>{{ reservatieRegel.reservatieId }}</td>
            </tr>
            <tr>
                <th>Formuleid</th>
                <td>{{ reservatieRegel.formuleId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservatieregels_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reservatieregels_edit', { 'id': reservatieRegel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
