<body>
	<div>
		<img style="" src="{{ asset('images/footer/vdab_wit.png') }}" />
		<h1>Bevestiging reservatie didactisch restaurant 't Seizoen</h1>
	</div>
	<div>
		<p style="width: 100%">In navolging van uw reservatieaanvraag worden volgende afspraken vastgelegd</p>
	</div>

	<table border="1" style="background-color:#FFFFFF;border-collapse:collapse;border:1px solid #000000;color:#000000;width:100%" cellpadding="3" cellspacing="3">
		<tr>
			<th>Formules</th>
			<th>Praktische afspraken</th>
		</tr>
		<tr>
			<td>
				{% for formule in formules %}
					{{ formule.name }}</br>
				{% endfor %}
			</td>
			<td>
				<span style="font-weight: bold">Datum van uitvoering:</span> {{ datum }}</br>
				<span style="font-weight: bold">Gereserveerd door:</span> {{ naam }}</br>
				{% if opdrachtgever %}
				<span style="font-weight: bold">In opdracht van:</span> {{ opdrachtgever }}</br>
				{% endif %}
				<span style="font-weight: bold">Aantal deelnemers:</span> {{ aantalDeelnemers }}</br>
				</br>
				<span style="font-weight: bold">Aanvangsuur:</span> {{ aanvang }}</br>
				<span style="font-weight: bold">Einde:</span> </br>
				</br>				
			</td>		
		</tr>
	</table>
	<table border="1" style="background-color:#FFFFFF;border-collapse:collapse;border:1px solid #000000;color:#000000;width:100%;min-height: 100px;" cellpadding="3" cellspacing="3">
		<tr>
			<th>Datum</th>
			<th>Persoonlijke info:</th>
			<th>Akkoord diensthoofd</th>
			<th>Totaal:</th>
		</tr>
		<tr>
			<td></td>
			<td><span style="font-weight: bold">Email:</span> {{ email }} </br><span style="font-weight: bold">Telefoon:</span> {{ telefoon }} </br></td>
			<td></td>
			<td>{{ totaal }}</td>
		</tr>
	</table>
	<table border="1" style="background-color:#FFFFFF;border-collapse:collapse;border:1px solid #000000;color:#000000;width:100%" cellpadding="3" cellspacing="3">
		<tr>
			<td>
				<span style="font-weight: bold">Rekening:</span> </br>
				{% if rekening %}
				{{ rekening }}</br>
				{% endif %}
				<span style="font-weight: bold">Afdeling:</span> </br>
				{% if afdeling %}
				{{ afdeling }}
				{% endif %}
				<span style="font-weight: bold">Product:</span> </br>
				{% if product %}
				{{ product }}</br>
				{% endif %}
				<span style="font-weight: bold">Project:</span> </br>
				{% if project %}
				{{ project }}
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>
				<span style="font-weight: bold">Extra Informatie:</span></br>
				{% if commentaar %}				
				{{ commentaar }}
				{% endif %}
			</td>
		</tr>
	</table>
</body>

