{% extends "base.html.twig" %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col s12 m12 l12">
			<h2>Team Horeca</h2>
		</div>
	</div>
	<div class="row teamlid">
		<div class="col s12 m3 l3">
			<img class="teamlid_foto" src="{{ asset('images/team/team_1.jpg') }}" />
		</div>
		<div class="col s12 m3 l3 teamlid_naam">
			<h4>Tom Van de Vondel</h4>
		</div>
		<div class="col s12 m3 l3 teamlid_rol">
			<p>Teamleider CC Horeca, Ict en Retail</p>
		</div>
		<div class="col s12 m3 l3 teamlid_contact">
			<p><tel>03 202 19 41</tel></p>
			<p><tel>0495 36 55 15</tel></p>
			<p><email>tom.vandevondel@vdab.be</email></p>
		</div>
	</div>
	<div class="row teamlid">
		<div class="col s12 m3 l3">
			<img class="teamlid_foto" src="{{ asset('images/team/team_2.jpg') }}" />
		</div>
		<div class="col s12 m3 l3 teamlid_naam">
			<h4>Henri (Rick) Bonte</h4>
		</div>
		<div class="col s12 m3 l3 teamlid_rol">
			<p>Instructeur keuken</p>
		</div>
		<div class="col s12 m3 l3 teamlid_contact">
			<p><tel>03 202 17 03</tel></p>
			<p><email>Henri.bonte@vdab.be</email></p>
		</div>
	</div>
	<div class="row teamlid">
		<div class="col s12 m3 l3">
			<img class="teamlid_foto" src="{{ asset('images/team/team_3.jpg') }}" />
		</div>
		<div class="col s12 m3 l3 teamlid_naam">
			<h4>Maurice van de Put</h4>
		</div>
		<div class="col s12 m3 l3 teamlid_rol">
			<p>Instructeur keuken</p>
		</div>
		<div class="col s12 m3 l3 teamlid_contact">
			<p><tel>03 202 17 03</tel></p>
			<p><email>Maurice.vandeput@vdab.be</email></p>
		</div>
	</div>
	<div class="row teamlid">
		<div class="col s12 m3 l3">
			<img class="teamlid_foto" src="{{ asset('images/team/team_5.jpg') }}" />
		</div>
		<div class="col s12 m3 l3 teamlid_naam">
			<h4>Guy Daemen</h4>
		</div>
		<div class="col s12 m3 l3 teamlid_rol">
			<p>instructeur zaal</p>
		</div>
		<div class="col s12 m3 l3 teamlid_contact">
			<p><tel>03 202 17 05</tel></p>
			<p><email>Guy.daemen@vdab.be</email></p>
		</div>
	</div>
	<div class="row teamlid">
		<div class="col s12 m3 l3">
			<img class="teamlid_foto" src="{{ asset('images/team/team_4.jpg') }}" />
		</div>
		<div class="col s12 m3 l3 teamlid_naam">
			<h4>Cindy Vylders</h4>
		</div>
		<div class="col s12 m3 l3 teamlid_rol">
			<p>Administratief bediende Horeca</p>
		</div>
		<div class="col s12 m3 l3 teamlid_contact">
			<p><tel>03 202 18 74</tel></p>
			<p><email>cindy.vylders@vdab.be</email></p>
		</div>
	</div>
	<div class="row teamlid">
		<div class="col s12 m3 l3">
			<img class="teamlid_foto" src="{{ asset('images/team/team_6.jpg') }}" />
		</div>
		<div class="col s12 m3 l3 teamlid_naam">
			<h4>Koen Van der Steen</h4>
		</div>
		<div class="col s12 m3 l3 teamlid_rol">
			<p>Stagebegeleider</p>
		</div>
		<div class="col s12 m3 l3 teamlid_contact">
			<p><tel>03 202 17 71</tel></p>
			<p><tel>0493 21 39 50</tel></p>
			<p><email>Koen.vandersteen@vdab.be</email></p>
		</div>
	</div>
	<div class="row teamlid">
		<div class="col s12 m3 l3">
			<img class="teamlid_foto" src="{{ asset('images/team/team_7.jpg') }}" />
		</div>
		<div class="col s12 m3 l3 teamlid_naam">
			<h4>Erna Eerens</h4>
		</div>
		<div class="col s12 m3 l3 teamlid_rol">
			<p>Klantenconsulent (sollicitatietraining)</p>
		</div>
		<div class="col s12 m3 l3 teamlid_contact">
			<p><tel>03 202 17 33</tel></p>
			<p><email>Erna.eerens@vdab.be</email></p>
		</div>
	</div>
</div>

{% endblock %}